<div id="register-form" class="form-box active">
  <h2>New Connection</h2>
  <p class="desc">Create your neural profile to start the journey.</p>
  <form class="auth-form">
    <div class="input-groups">
      <label>Full Name</label>
      <input class="form-control" type="text" placeholder="John Doe" />
    </div>
    <div class="input-groups">
      <label>Email Sync</label>
      <input class="form-control" type="email" placeholder="name@neuro.link" />
    </div>
    <div class="input-groups">
      <label>Secure Cipher</label>
      <input class="form-control" type="password" placeholder="••••••••" />
    </div>
    <button type="submit" class="btn-submit">Create Profile</button>
  </form>
</div>
